body {
  background-color: #f3f3f3;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.card {
  background-color: white;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 0 9px 0px #dcdcdc;
}

#main > div {
  padding: 20px;
}

img {
  max-width: 100%;
}

header {
    background-color: white;
    box-shadow: 0 0 9px 0px #dcdcdc;
}

header > div {
    padding: 20px;
}

#logo {
    font-weight: bold;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

header .container {
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: 768px) {
    /* desktop */
    .fa-bars {
        display: none;
    }

    nav ul li {
        display: inline-block;
    }
}

@media only screen and (max-width: 768px) {
    /* mobile */
    nav ul {
        display: none;
        position: absolute;
        background-color: white;
        right: 0;
        padding: 20px;
    }

    nav:hover ul {
        display: block;
    }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 728px;
    margin: auto;
    display: flex;
  }

  #main > div:nth-child(1) {
    width: 60%;
  }

  #main > div:nth-child(2) {
    width: 40%;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    width: 1200px;
  }
}
